<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="javascripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="http://localhost:3000/faye/client.js"> </script>

    <script type="text/javascript">
        var client = new Faye.Client('http://localhost:3000/faye');

        client.on('transport:down', function() {
            console.log("down");
        });

        client.on('transport:up', function() {
            console.log("up")
        });
    </script>

    <script type="text/javascript">
        $(function(){
             $.ajaxPrefilter( function( options, originalOptions, jqXHR ) {
            
                console.log(options.url);

                
                options.url = 'http://localhost:3000' + options.url;
                    //jqXHR.setRequestHeader("Authorization", "Basic Ym9iOnNlY3JldA==");
                  
            });

            $("td").click(function(e){
                var cell = $(e.currentTarget);
                console.log(cell.data("row"));
                var row = cell.data("row");
                var column = cell.data("column");
                
                $.post('/move', {"row" : row, "column" : column}, function(data, textStatus, jqXHR){
                    console.log(data);
                    client.publish('/'+data[0].gamename, data);
                    console.log("sent");

                });

                
            })

            $.fn.serializeObject = function() {
                var o = {};
                var a = this.serializeArray();
                $.each(a, function() {
                    if (o[this.name] !== undefined) {
                        if (!o[this.name].push) {
                            o[this.name] = [o[this.name]];
                        }
                        o[this.name].push(this.value || '');
                    } else {
                        o[this.name] = this.value || '';
                    }
                });
                return o;
            };

            $("#connect").click(function(e){

                var creds = $("#config-form").serializeObject();
                if(creds.gamename && creds.username){
                    $.post('/connect', creds, function(data, textStatus, jqXHR){
                        console.log(data);
                        console.log("game name", data.gamename);

                        $.get('/current/'+data.gamename, function(data){
                            reset();
                            fill(data);  
                        });
                        var subscription = client.subscribe('/' + data.gamename, function(data) {
                            console.log(data);


                            reset();
                            
                            fill(data);                            
                            
                            
                            
                            console.log("received");
                        });
                    })   
                }
                return false;
            })
            
            function fill(data) {
                for(var i = 0; i < data.length; i++){
                    var color = data[i].playerNumber == 0 ? "red" : "blue"; 
                    $("td[data-row=" + data[i].row + "][data-column=" + data[i].column +"]")
                            .css("background-color", color)   
                }
            }
            function reset(){
                $("td").css('background-color', '#777');

            }

        })
    </script>   
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    
    <fieldset>
        <form id="config-form">
            <input type="text" name="username" placeholder="user name"></input>
            <input type="text" name="gamename" placeholder="game name"></input>
            <button id="connect">Connect</button>
            <button id="reset">Refresh</button>
        </form>

    </fieldset>
    <table id="game-board">
        <tr class="row">
            <td class="cell" data-row="1" data-column="1"></td>
            <td class="cell" data-row="1" data-column="2"></td>
            <td class="cell" data-row="1" data-column="3"></td>
        </tr>
        <tr class="row">
            <td class="cell" data-row="2" data-column="1"></td>
            <td class="ce11" data-row="2" data-column="2"></td>
            <td class="cell" data-row="2" data-column="3"></td>
        </tr>
        <tr id="row-3" class="row">
            <td class="cell" data-row="3" data-column="1"></td>
            <td class="ce11" data-row="3" data-column="2"></td>
            <td class="cell" data-row="3" data-column="3"></td>
        </tr>
    </table>
    </body>
</html>