body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table#game-board {
	margin-top : 50px;
}

table td {
	width: 50px;
	height: 50px;
	border-color: black;
	background-color: #777;
}

.player-a {
	background-color: red;
}

.player-b {
	background-color: blue;
}